.button
{
    -fx-background-color : transparent;
}

.back
{
    -fx-background-color : #0d1a27;
}


.home
{ 
    -fx-background-color : #203243;
}


.menu-item .label {
    -fx-background-color : transparent; 
    -fx-text-fill: white;
}


.context-menu .label{
    -fx-text-fill: black;
}

.statheader
{
    -fx-background-color : #6699cc;
    -fx-background-radius: 5 5 5 5;
}
.statbord
{
    -fx-background-color : #FFFAFA;
    -fx-background-radius: 10 10 5 5;
}

.labels_err
{
    -fx-text-fill: f70d1b;
}

.jfxtextfield{
    -fx-prompt-text-fill: #ffffff;
    -fx-text-inner-color:#ffffff;
}

.combo-box2 {
    -fx-prompt-text-fill: #ffffff;
    -fx-text-inner-color:#ffffff;
}

.combo-box2 .cell {
    -fx-border-color:  #0d1a27;
    -fx-background-color: #0d1a27;
    -fx-text-fill: white;
}

.combo-box2 .cell:hover {
    -fx-border-color:  #0d1a27;
    -fx-background-color: #203243;
    -fx-text-fill: white;
}

.combo-box1 {
    -fx-prompt-text-fill: #ffffff;
    -fx-text-inner-color:#ffffff;
}

.combo-box1 .cell {
    -fx-border-color:  #203243;
    -fx-background-color: #203243;
    -fx-text-fill: white;
}

.combo-box1 .cell:hover {
    -fx-border-color:  #203243;
    -fx-background-color: #0d1a27;
    -fx-text-fill: white;
}

#statbordPrd
{
    -fx-background-color : #0a94b8;
    -fx-background-radius: 10 10 5 5;
}

#statbordSale
{
    -fx-background-color : #0a94b8;
    -fx-background-radius: 10 10 5 5;
}

#statbordPurchase
{
    -fx-background-color : #0a94b8;
    -fx-background-radius: 10 10 5 5;
}

#statbordDette
{
    -fx-background-color : #0a94b8;
    -fx-background-radius: 10 10 5 5;
}

.img
{
    -fx-background-color : #ffffff;
}

.specialJFXTabPane .tab-header-area .tab-header-background {
    /*-fx-opacity: 0.0;*/
    -fx-background-color:#203243 !important;  	    
}

.specialJFXTabPane .tab-header-area .jfx-rippler{
    -fx-rippler-fill:firebrick !important;
    -fx-cursor:hand;
}

.specialJFXTabPane .tab-header-area  .tab-selected-line{
    -fx-stroke: firebrick !important;
}

.specialJFXTabPane .tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 13.5px; /* before it was 12px */
    -fx-font-weight: bold;
    -fx-wrap-text: true;
    -fx-cursor:hand;
}

.specialJFXTabPane .tab:hover .tab-label{
    -fx-text-fill:white;
    -fx-background-color:#0d1a27 !important;	
    -fx-background-radius: 0.0;
}

.specialJFXTabPane .tab:selected .tab-label{
    -fx-background-color: #0d1a27;
}